.contentBlock {
    margin-top: 25px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.08);
    gap: 30px;
    height: 90%;
    
    @media (max-width: 768px) {
        margin-top: 4em;
        height: 95%;
    }

    .titleBlock {
        flex-direction: row;

        @media (max-width: 768px) {
            gap: 10px;
            flex-direction: column;
        }
    }

    .personalBlock {
        gap: 12px;
    }

    .securityBlock {
        gap: 12px;
    }

    .inputBlock {
        flex-direction: row;
        gap: 18px;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .additionalBlock {
        gap: 12px;
    }

    .actionButtons {
        gap: 18px;
    }
}

.toolbar {
    height: 69px;
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    justify-content: flex-end;
    padding: 10px;
    top: 0;
    right: 0;
    left: 0;
}